# Dependency directories
node_modules/
jspm_packages/

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Temporary files
*.log
tmp/
temp/
